:root {
    --white: #ffffff;
    --gray: #e4e4e4;
    --black: rgb(0, 0, 0);
    --Orange: #ffc172;
    --paleOrange: #fcd6a4;
    --blueSea: #63caa7;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}
h1,
h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

h1 {
    text-align: center;
    padding: 1rem 0;
}
body {
    height: 100vh;
    width: 100vw;
    /* padding: 2% 8vw; */
    overflow: hidden;
    background-color: whitesmoke;
}

h1,
h2 {
    font-family: 'Montserrat', sans-serif;
}

.nav-info {
    width: 100%;
    height: 10vh;
    background-color: #63caa7;
    display: flex;
}

.img-logo {
    width: 50%;
}

.userInfo {
    width: 50%;
    height: 10vh;
    cursor: pointer;
    padding: 0 1rem;
}

.userInfo__profile {
    /* width: 100%; */
    display: flex;
    height: 10vh;
    justify-content: flex-end;
}

.profile__img {
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.userInfo__profile img {
    width: 75%;
    border-radius: 50%;
}
.profile__info {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
}

/* Estilos para el menú desplegable */
.dropdown-menu {
    width: 15%;
    display: none;
    position: absolute;
    right: 1rem;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Estilos para mostrar el menú */
.dropdown-menu.show {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
    align-items: center;
    justify-content: center;
}

/* Ajustes para posicionar el menú debajo del userInfo */
.userInfo {
    position: relative;
}

/* Estilos para las opciones del menú */
.menu-option {
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilos para las opciones del menú al pasar el ratón */
.menu-option:hover {
    background-color: #f0f0f0;
}

/* .userInfo {
    height: 30%;
    background-color: white;
    padding: 2vw 2vw 1.5vw;
} */

/* .userInfo__profile {
    height: 70%;
    display: flex;
    align-items: center;
} */

/* .profile__img {
    width: 10%;
}

.profile__img img {
    width: 100%;
    border-radius: 100%;
}

.profile__info {
    padding-left: 2vw;
}

.profile__info h4 {
    background-color: #267abe44;
    color: #267abece;
    display: inline-block;
    border-radius: 100px;
    padding: 5px;
    margin: 0;
}

.profile__info h2 {
    font-size: 3em;
    padding: 0.4vw 0;
}

.profile__info h3 {
    color: gray;
} */

/* .userInfo__buttons {
    height: 30%;
    display: flex;
    align-items: end;
    gap: 1vw;
} */

/* .userInfo__buttons > * {
    border: 0;
    background-color: white;
    outline: 2px solid black;
    border-radius: 100px;
    padding: 10px 25px;
    font-size: 0.8vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-weight: bold;
    transition: 0.2s;
} */

/* .userInfo__buttons > *:hover {
    background-color: rgba(128, 128, 128, 0.24);
}

.userInfo__buttons span {
    margin: -10px;
} */

.main__modulos {
    height: 70%;
    display: block;
}

.modulSel {
    height: 30%;
    display: flex;
    justify-content: space-around;
    padding: 1vw 0;
}

.modulSel > * {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: #63caa7;
    user-select: none;
    transition: 0.2s;
}

.shadowBorder {
    border-radius: 30px;
}

/* MainPanel */
.mainPanel {
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

/* Div del inventario */
.inventDiv {
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: black;
}

.iventTittle {
    font-size: 3rem;
}

.inventCardsDiv {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    width: 100%;
}

.inventCard,
.factCard {
    border: 1px solid var(--gray);
    padding: 3%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 5px 5px 10px 0px var(--gray);
}

.inventCard span {
    font-size: 4rem;
}

.tittleDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.inCardTittle {
    background-color: transparent;
    border: 0px;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.inCardTittle:hover {
    cursor: pointer;
}

#editTittleButt1,
#editTittleButt2 {
    font-size: 2rem;
}

.editTittle:hover {
    border: 1px solid var(--black);
    box-shadow: 0px 0px 10px 2px var(--black);
}

.inventCard:hover,
.catalButton:hover,
.factCard:hover {
    background-color: var(--paleOrange);
    cursor: pointer;
}

.catalButton {
    padding: 10px;
    border-radius: 10px;
    background-color: var(--Orange);
    color: var(--black);
    border: 1px solid var(--Orange);
}

.moduloSeleccionado {
    background-color: #2679be;
}

.billDiv {
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: black;
    padding: 50px;
}

.bidllDiv div {
    width: 50%;
}

.module3Div {
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: black;
    padding: 50px;
}

.module3Div img {
    width: 300px;
}

.main__settings {
    height: 70%;
    display: none;
    padding-top: 2vw;
}

.settings__content {
    background-color: #fff;
    height: 100%;
    padding: 2vw 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.settings__content h1 {
    text-align: center;
    font-size: 3vw;
}

.settings__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    height: 100%;
}

.settings__container h2 {
    font-size: 2em;
    text-align: center;
}

.settings__content__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.settings__content__info p {
    font-size: 1.5vw;
    font-weight: bold;
    padding-left: 2vw;
}

.settings__content__info span {
    font-size: 1.3vw;
    font-weight: normal;
}

.info__modulosAdquiridos ul {
    margin-left: 3vw;
    font-size: 1.3vw;
}

.info__modulosAdquiridos ul li {
    margin-top: 10px;
    margin-left: 2vw;
}

.settings__content__password {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.settings__content__password > div {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.settings__content__password label {
    font-size: 1.3vw;
}

.settings__content__password input {
    font-size: 1.5vw;
    border-radius: 100px;
    padding-left: 10px;
    width: 100%;
}

.settings__content__password button {
    border: 0;
    width: 50%;
    background-color: white;
    outline: 2px solid black;
    border-radius: 100px;
    padding: 10px 25px;
    font-size: 1.2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-weight: bold;
    align-self: center;
}

.main__help {
    height: 70%;
    display: none;
    padding-top: 2vw;
}

.help__content {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2vw;
}

.help__content > * {
    padding: 2vw;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    background-color: #63caa7;
    transition: 0.2s;
}
.help__content > *:hover {
    background-color: #2679be;
}

.help__card__title {
    text-align: center;
    font-size: 1.5vw;
}

.card__content__contact {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    text-align: justify;
}

.card__content__contact p,
li {
    font-size: 1vw;
}

.card__content__contact h2 {
    text-align: center;
}

.card__content__contact span {
    font-weight: bold;
}

.content__questions__item {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.card__content__questions ul {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    list-style: none;
}

.card__content__questions p {
    text-align: justify;
}

.card__content__questions ol {
    margin-left: 50px;
}

.content__update_item {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    text-align: justify;
}

.content__update_item p {
    font-size: 1vw;
}

/* catalogoDiv */
.catalMainDiv,
.newFacturaMainDiv,
.listFactMainDiv {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1;
    background-color: var(--white);
    display: none;
    flex-direction: column;
    padding: 2vw;
    justify-content: space-around;
}

.panelDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
    height: 10%;
    background-color: var(--white);
}

.panelDiv span {
    font-size: 3rem;
    color: var(--black);
}

.panelDiv button {
    font-size: 1.5rem;
    background-color: var(--white);
    color: var(--black);
    border: 0px solid var(--black);
    padding: 0.5%;
    font-weight: bold;
}

.panelDiv button:hover {
    color: var(--blueSea);
    cursor: pointer;
}

/* Catalogo */
.catalDiv,
.newFactBodyDiv,
.listaFacturasDiv {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 1%;
    background-color: var(--white);
}

.catalInfo {
    width: 98%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2%;
    overflow-y: auto;
}

.searchProductDiv {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 1%;
}

.searchProductDiv select {
    width: 80%;
}

.searchProductDiv span {
    font-size: 2rem;
}

.searchProductDiv span:hover {
    color: var(--paleOrange);
    cursor: pointer;
}

.catal {
    overflow-y: auto;
}

.catal,
.catal th {
    border: 2px solid black;
    border-collapse: collapse;
}

.catal tr,
.catal td {
    border: 1px solid black;
    text-align: center;
}

.catal img {
    height: 80px;
}

.modOrNewObjectMain {
    width: 2%;
    display: flex;
    flex-direction: row;
    border: 1px solid var(--black);
    border-radius: 10px;
}

.modorNewObjectButt {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border: 1px solid var(--black);
}

.modorNewObjectButt:hover {
    background-color: var(--paleOrange);
    cursor: pointer;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.modOrNewObject {
    display: none;
    width: 90%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.modOrNewObject button {
    font-size: 1.5rem;
    background-color: var(--gray);
    color: var(--black);
    border: 1px solid var(--black);
    border-radius: 100%;
    height: 100%;
    width: 10%;
}

.modOrNewObject button:hover {
    background-color: var(--paleOrange);
    cursor: pointer;
}

.creatObject,
.modObject {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1%;
}

.creatDuo,
.modDuo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.buttDuodiv {
    justify-content: center;
    align-items: center;
    gap: 5%;
}

#saveMod:hover,
#saveModInvent:hover {
    color: var(--blueSea);
    cursor: pointer;
}

.catalMainDiv,
.invent1MainDiv,
.newFacturaMainDiv,
.listFactMainDiv {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1;
    background-color: var(--paleOrange);
    display: none;
    flex-direction: column;
    padding: 2%;
    justify-content: space-around;
}
.invent1MainDiv {
    background-color: var(--blueSea);
}
.factCard {
    text-align: center;
}

.factCard span {
    font-size: 3vw;
}
.listaFacturasDiv {
    gap: 2%;
}
.facturaCard {
    width: 20%;
    background-color: var(--blueSea);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 35%;
    padding: 1%;
    border: 1px solid black;
}
.facturaCard p b {
    font-size: 1.1em;
    font-weight: bold;
}
.facturaCard div {
    overflow-y: auto;
}
