<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/views/inventario/style/inventario.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>

<body>
    <div class="userInfo shadowBorder">

    </div>
    <div class="modulSel">

    </div>
    <div class="mainPanel shadowBorder">
        <div class="inventDiv">
            <h1 class="iventTittle">Tus Inventarios</h1>
            <div class="inventCardsDiv">
                <div class="inventCard">
                    <span class="material-symbols-outlined">
                        inventory
                    </span>
                    <h1 class="inventCardTittle">Inventario 1</h1>
                </div>
                <div class="inventCard">
                    <span class="material-symbols-outlined">
                        inventory
                    </span>
                    <h1 class="inventCardTittle">Inventario 2</h1>
                </div>
            </div>
            <button class="catalButton">Catalogo</button>
        </div>
    </div>

    <div class="catalMainDiv">
        <div class="panelDiv shadowBorder">
            <a href="">
                <span class="material-symbols-outlined butonSpan">
                    home
                </span>
            </a>
            <h1>Catalogo de productos</h1>
            <button id="closeWindow">X</button>
        </div>

        <div class="catalDiv shadowBorder">

            <div class="catalInfo">

                <div class="searchProductDiv">
                    <h2>Producto</h2>
                    <select id="searcProdSelect"></select>
                    <span class="material-symbols-outlined butonSpan" id="searchButt">
                        search
                    </span>
                    <span class="material-symbols-outlined" id="backButt">
                        reply
                    </span>
                </div>

                <table class="catal" id="catal">
                    <tr>
                        <th>ID</th>
                        <th>Tiutlo</th>
                        <th>Descripcion</th>
                        <th>Imagen</th>
                        <th>Proveedor</th>
                    </tr>
                </table>

            </div>

            <div class="modOrNewObjectMain">

                <div class="modorNewObjectButt">←</div>

                <div class="modOrNewObject">

                    <div class="creatObject" id="createZone">
                        <h2>Crear Producto</h2>
                        <div class="creatDuo">
                            <p>Titulo:</p>
                            <input type="text" id="titulo">
                        </div>
                        <div class="creatDuo">
                            <p>Descripcion:</p>
                            <input type="text" id="descr">
                        </div>
                        <div class="creatDuo">
                            <p>Imagen:</p>
                            <input type="text" id="imag">
                        </div>
                        <div class="creatDuo buttDuodiv">
                            <p>Crear:</p>
                            <button>+</button>
                        </div>

                    </div>

                    <div class="modObject">
                        <h2>Modificar Producto</h2>
                        <div class="modDuo">
                            <p>Producto:</p>
                            <select id="modProdSelect"></select>
                        </div>
                        <div class="modDuo">
                            <p>Titulo:</p>
                            <input type="text" id="titulo">
                        </div>
                        <div class="modDuo">
                            <p>Descripcion:</p>
                            <input type="text" id="descr">
                        </div>
                        <div class="modDuo">
                            <p>Imagen:</p>
                            <input type="text" id="cant">
                        </div>
                        <div class="modDuo buttDuodiv">
                            <p>Guardar:</p>
                            <span class="material-symbols-outlined" id="saveMod">
                                save
                            </span>
                        </div>
                        <div class="modDuo buttDuodiv">
                            <p>Eliminar:</p>
                            <button id="deltButt">x</button>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <script src="scripts/inventario.js" type="module"></script>
</body>

</html>