<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Profile</title>
        <link rel="stylesheet" href="style/inventario.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    </head>

    <body>
        <nav class="nav-info">
            <div class="img-logo">
                <img src="../../img/logo_removebg.png" width="20%" />
            </div>
            <div class="userInfo shadowBorder">
                <div class="userInfo__profile">
                    <div class="profile__img">
                        <img src="../user/storage/img_Perfil.png" alt="img_perfil" />
                    </div>
                    <div class="profile__info">
                        <h4>Tipo de usuario</h4>
                        <h3>Emily Julieth Nieves Badillo</h3>
                        <!-- <h3>emilynieves@mail.com</h3> -->
                    </div>
                </div>
                <!-- Menú desplegable oculto inicialmente -->
                <div class="dropdown-menu" id="dropdownMenu">
                    <div id="desplegarModulos" class="menu-option">
                        <p>Modulos</p>
                    </div>
                    <div id="desplegarConfig" class="menu-option">
                        <p>Ajustes</p>
                    </div>
                    <div id="desplegarAyuda" class="menu-option">
                        <p>Ayuda</p>
                    </div>
                    <div id="acercaDeNosotros" class="menu-option">
                        <p>Acerca de</p>
                    </div>
                </div>
                <!-- <div class="userInfo__buttons">
                    <button id="desplegarModulos">
                        <p>Modulos</p>
                        <span class="material-symbols-outlined">expand_more</span>
                    </button>
                    <button id="desplegarConfig">
                        <p>Ajustes</p>
                        <span class="material-symbols-outlined">expand_more</span>
                    </button>
                    <button id="desplegarAyuda">
                        <p>Ayuda</p>
                        <span class="material-symbols-outlined">expand_more</span>
                    </button>
                    <button id="acercaDeNosotros">
                        <p>Acerca de</p>
                        <span class="material-symbols-outlined">expand_more</span>
                    </button>
                </div> -->
            </div>
        </nav>
        <div class="main__modulos">
            <h1>Módulos</h1>
            <div class="modulSel">
                <div value="1">
                    <h2>Inventario</h2>
                    <span class="material-symbols-outlined">inventory_2</span>
                </div>
                <div value="2">
                    <h2>Facturacion</h2>
                    <span class="material-symbols-outlined">receipt</span>
                </div>
                <div value="3">
                    <h2>Modulo 3</h2>
                    <span class="material-symbols-outlined">receipt</span>
                </div>
            </div>
            <div class="mainPanel shadowBorder">
                <div class="inventDiv">
                    <h1 class="iventTittle">Tus Inventarios</h1>
                    <div class="inventCardsDiv">
                        <div class="inventCard" id="invent1Butt">
                            <span class="material-symbols-outlined"> inventory </span>
                            <div class="tittleDiv">
                                <input type="text" value="Inventario 1" class="inCardTittle" id="inputTittle1" />
                                <span class="material-symbols-outlined editTittle" id="editTittleButt1"> edit </span>
                            </div>
                        </div>
                        <div class="inventCard">
                            <span class="material-symbols-outlined"> inventory </span>
                            <div class="tittleDiv">
                                <input type="text" value="Inventario 2" class="inCardTittle" />
                                <span class="material-symbols-outlined editTittle" id="editTittleButt2"> edit </span>
                            </div>
                        </div>
                    </div>
                    <button class="catalButton">Catalogo</button>
                </div>
                <!-- PANEL PRINCIPAL DE FACTURACION -->
                <div class="billDiv">
                    <div class="factCard" id="newFactDivButt">
                        <h2>Facturacion</h2>
                        <span class="material-symbols-outlined"> note_add </span>
                    </div>
                    <div class="factCard" id="listaFacturasCard">
                        <h2>Facturas <br />realizadas</h2>
                        <span class="material-symbols-outlined"> quick_reference_all </span>
                    </div>
                </div>
                <div class="module3Div">
                    <h1 class="iventTittle">Modulo 3</h1>
                    <h3>Modulo en construccion</h3>
                    <img src="../user/storage/giphy.gif" alt="" />
                </div>
            </div>
        </div>

        <div class="main__settings">
            <div class="settings__content shadowBorder">
                <h1>Ajustes</h1>
                <div class="settings__container">
                    <div class="settings__content__info">
                        <h2>Información básica</h2>
                        <p>Usuario: <span>Aieh</span></p>
                        <p>Nombre: <span>Emily Julieth Nieves Badillo</span></p>
                        <p>Correo: <span>emilynieves@mail.com</span></p>
                        <div class="info__modulosAdquiridos">
                            <p>Modulos adquiridos</p>
                            <ul>
                                <li>Inventario</li>
                                <li>Facturacion</li>
                            </ul>
                        </div>
                    </div>
                    <div class="settings__content__password">
                        <h2>Cambiar contraseña</h2>
                        <div>
                            <input type="password" placeholder="Contraseña actual" />
                        </div>
                        <div>
                            <input type="password" placeholder="Nueva contraseña" />
                        </div>
                        <div>
                            <input type="password" placeholder="Confirmar nueva contraseña" />
                        </div>
                        <button>Cambiar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="main__help">
            <div class="help__content">
                <div class="help__card__contact shadowBorder">
                    <div class="help__card__title">
                        <h2>Contactar al desarrollador</h2>
                    </div>
                    <div class="card__content__contact">
                        <p>
                            ¡Estamos aquí para ayudarte! Si tienes alguna pregunta, sugerencia, o simplemente quieres enviarnos tus comentarios, no dudes en
                            ponerte en contacto con nuestro equipo de desarrollo. Estamos comprometidos en brindarte el mejor soporte posible y en escuchar tus
                            ideas para mejorar nuestra plataforma.
                        </p>
                        <h2>Puedes contactarnos de las siguientes maneras:</h2>
                        <ul>
                            <li>
                                <span>Enviar un email: </span>Envíanos un correo electrónico a correoayuda@mail.com y te responderemos tan pronto como sea
                                posible.
                            </li>
                            <li>
                                <span>Chat en vivo: </span>Habla con un miembro de nuestro equipo en tiempo real a través de nuestro chat en vivo. Estamos
                                disponibles en horario de oficina.
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="help__card__questions shadowBorder">
                    <div class="help__card__title">
                        <h2>Preguntas frecuentes</h2>
                    </div>
                    <div class="card__content__questions">
                        <ul>
                            <li>
                                <div class="content__questions__item">
                                    <h3>¿Cómo puedo restablecer mi contraseña?</h3>
                                    <p>Si requieres actualizar tu contraseña, puedes restablecerla fácilmente siguiendo estos pasos:</p>
                                    <ol>
                                        <li>Dirígete a la página de ajustes</li>
                                        <li>Ingresa la contraseña actual</li>
                                        <li>Ingresa la contraseña que deseas sea la nueva</li>
                                        <li>Vuelve a escribir la contraseña para confirmar tu eleccion</li>
                                    </ol>
                                    <p>¡Y listo! Ahora puedes acceder a tu cuenta con tu nueva contraseña.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="help__card__update shadowBorder">
                    <div class="help__card__title">
                        <h2>Actualizaciones y noticias</h2>
                    </div>
                    <div class="card__content__update">
                        <div class="content__update_item">
                            <h2>¡Novedades emocionantes!</h2>
                            <p>¡Estamos encantados de compartir contigo las últimas novedades sobre nuestra aplicación en desarrollo!</p>
                            <p>
                                Sabemos que has estado esperando con ansias nuevas características y mejoras, y queremos asegurarte que estamos trabajando
                                arduamente para hacer que tu experiencia sea aún mejor.
                            </p>
                            <p>
                                Desde mejoras en la interfaz de usuario hasta nuevas funciones innovadoras, ¡hay mucho en qué emocionarse! Mantente atento a
                                nuestras actualizaciones para estar al tanto de todas las novedades.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--INVENTARIOS Y CATALOGO-->
        <div class="catalMainDiv">
            <div class="panelDiv shadowBorder">
                <a href="">
                    <span class="material-symbols-outlined butonSpan"> home </span>
                </a>
                <h1>Catalogo de productos</h1>
                <button id="closeWindow">X</button>
            </div>

            <div class="catalDiv shadowBorder">
                <div class="catalInfo">
                    <div class="searchProductDiv">
                        <h2>Producto</h2>
                        <select id="searcProdSelect"></select>
                        <span class="material-symbols-outlined butonSpan" id="searchButt"> search </span>
                        <span class="material-symbols-outlined" id="backButt"> reply </span>
                    </div>
                    <table class="catal" id="catal">
                        <tr>
                            <th>ID</th>
                            <th>Tiutlo</th>
                            <th>Descripcion</th>
                            <th>Imagen</th>
                            <th>Proveedor</th>
                        </tr>
                    </table>
                </div>

                <div class="modOrNewObjectMain">
                    <div class="modorNewObjectButt">←</div>
                    <div class="modOrNewObject">
                        <div class="creatObject" id="createZone">
                            <h2>Crear Producto</h2>
                            <div class="creatDuo">
                                <p>Titulo:</p>
                                <input type="text" id="titulo" />
                            </div>
                            <div class="creatDuo">
                                <p>Descripcion:</p>
                                <input type="text" id="descr" />
                            </div>
                            <div class="creatDuo">
                                <p>Imagen:</p>
                                <input type="text" id="imag" />
                            </div>
                            <div class="creatDuo buttDuodiv">
                                <p>Crear:</p>
                                <button>+</button>
                            </div>
                        </div>

                        <div class="modObject" id="modObject">
                            <h2>Modificar Producto</h2>
                            <div class="modDuo">
                                <p>Producto:</p>
                                <select id="modProdSelect"></select>
                            </div>
                            <div class="modDuo">
                                <p>Titulo:</p>
                                <input type="text" id="titulo" />
                            </div>
                            <div class="modDuo">
                                <p>Descripcion:</p>
                                <input type="text" id="descr" />
                            </div>
                            <div class="modDuo">
                                <p>Imagen:</p>
                                <input type="text" id="img" />
                            </div>
                            <div class="modDuo buttDuodiv">
                                <p>Guardar:</p>
                                <span class="material-symbols-outlined" id="saveMod"> save </span>
                            </div>
                            <div class="modDuo buttDuodiv">
                                <p>Eliminar:</p>
                                <button id="deltButt">x</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="invent1MainDiv" id="invent1MainDiv">
            <div class="panelDiv shadowBorder">
                <a href="">
                    <span class="material-symbols-outlined butonSpan"> home </span>
                </a>
                <h1 id="inventName1">Inventario 1</h1>
                <button id="closeInvent">X</button>
            </div>
            <div class="catalDiv shadowBorder">
                <div class="catalInfo">
                    <div class="searchProductDiv">
                        <h2>Producto</h2>
                        <select id="searcProdSelect"></select>
                        <span class="material-symbols-outlined butonSpan" id="searchButt"> search </span>
                        <span class="material-symbols-outlined" id="backButt"> reply </span>
                    </div>
                    <table class="catal" id="invent">
                        <tr>
                            <th>ID</th>
                            <th>Tiutlo</th>
                            <th>Descripcion</th>
                            <th>Imagen</th>
                            <th>Cantidad</th>
                        </tr>
                    </table>
                </div>

                <div class="modOrNewObjectMain">
                    <div class="modorNewObjectButt">←</div>
                    <div class="modOrNewObject">
                        <div class="creatObject" id="addProduct">
                            <h2>Agregar Producto</h2>
                            <div class="creatDuo">
                                <p>Producto:</p>
                                <select id="adProdSelect"></select>
                            </div>
                            <div class="creatDuo">
                                <p>Cantidad:</p>
                                <input type="number" id="cant" />
                            </div>
                            <div class="creatDuo buttDuodiv">
                                <p>Agregar:</p>
                                <button>+</button>
                            </div>
                        </div>

                        <div class="modObject" id="modObjectInvent">
                            <h2>Modificar Inventario</h2>
                            <div class="creatDuo">
                                <p>Producto:</p>
                                <select id="modProdSelectInvent"></select>
                            </div>
                            <div class="creatDuo">
                                <p>Cantidad:</p>
                                <input type="number" id="cantMod" />
                            </div>
                            <div class="modDuo buttDuodiv">
                                <p>Guardar:</p>
                                <span class="material-symbols-outlined" id="saveModInvent"> save </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- FACTURACION -->
        <div class="newFacturaMainDiv">
            <div class="panelDiv shadowBorder">
                <a href="">
                    <span class="material-symbols-outlined butonSpan"> home </span>
                </a>
                <h1>Factura Nueva</h1>
                <button id="closeWindow">X</button>
            </div>
            <div class="newFactBodyDiv shadowBorder">
                <form id="newFacturaForm">
                    <label for="puntoPago">Punto de pago:</label>
                    <input type="text" readonly placeholder="Punto 1" id="puntoPago" name="puntoPago" value="Punto 1" />
                    <br />
                    <label for="fecha">Fecha:</label>
                    <input type="date" id="fecha" name="fecha" />
                    <br />
                    <label for="inventOr">Inventario de origen:</label>
                    <select name="inventOr" id="inventOr">
                        <option value="invent1">Inventario 1</option>
                    </select>
                    <br />
                    <label for="nomClient">Nombre cliente:</label>
                    <input type="text" id="nomClient" name="nomClient" />
                    <br />
                    <label for="telClient">Telefono cliente:</label>
                    <input type="text" id="telClient" name="telClient" />
                    <br />
                    <label for="idClient">Id cliente:</label>
                    <input type="text" id="idClient" name="idClient" />
                    <br />
                    <input type="submit" value="Facturar" />
                </form>

                <div class="selectItemDiv">
                    <form id="selectItemForm">
                        <label for="item">Item</label>
                        <select name="item" id="item"></select>
                        <br />
                        <label for="cantidad">Cantidad</label>
                        <select name="cantidad" id="cantidad"></select>
                        <br />
                        <label for="precUnit">Precio unitario</label>
                        <input type="number" placeholder="$0" id="precUnit" name="precUnit" />
                        <br />
                        <input type="submit" value="Agregar" />
                    </form>
                </div>

                <hr />

                <div class="itemsFactDiv">
                    <table class="catal" id="itemsFactTab">
                        <tr>
                            <th>ID</th>
                            <th>Tiutlo</th>
                            <th>Imagen</th>
                            <th>Cantidad</th>
                            <th>PrecUnit</th>
                            <th>DeleteItem</th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="listFactMainDiv">
            <div class="panelDiv shadowBorder">
                <a href="">
                    <span class="material-symbols-outlined butonSpan"> home </span>
                </a>
                <h1>Lista de facturas</h1>
                <button id="closeWindow">X</button>
            </div>
            <div class="listaFacturasDiv shadowBorder"></div>
        </div>

        <script src="scripts/inventario.js" type="module"></script>
        <script src="scripts/facturacion.js" type="module"></script>

        <!--USER PAGE-->
        <script src="../user/scripts/user.js" type="module"></script>
        <!--MODULES FOR USER PAGE-->
        <script src="../user/scripts/modules/modulos.js" type="module"></script>
        <script src="../user/scripts/modules/configuracion.js" type="module"></script>
        <script src="../user/scripts/modules/ayuda.js" type="module"></script>
    </body>
</html>
